@using Abp.Authorization.Users
@using Abp.MultiTenancy
@model InfinitySales.Web.Models.Account.RegisterViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script>
            requirejs(['knockout', 'register'], function (ko,registerViewModel) {
                 ko.applyBindings(new registerViewModel(@Html.Raw(Json.Serialize(Model))), $("#RegisterForm")[0]);
            })
        </script>
    </environment>
}
<div class="card">
    <div class="body">
        <form id="RegisterForm" asp-action="Register" method="post" data-bind="submit: Submit" novalidate>
            <h4 class="text-center">@L("Register")</h4>
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="Name" maxlength="@AbpUserBase.MaxNameLength" data-bind="value: Name">
                            <label class="form-label">@L("Name")</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="Surname" maxlength="@AbpUserBase.MaxSurnameLength" data-bind="value: Surname">
                            <label class="form-label">@L("Surname")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="TenancyName" maxlength="@AbpTenantBase.MaxNameLength" data-bind="value: TenancyName">
                    <label class="form-label">@L("CompanyName")</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="email" class="form-control" name="EmailAddress" maxlength="@AbpUserBase.MaxEmailAddressLength" data-bind="value: EmailAddress">
                    <label class="form-label">@L("EmailAddress")</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="password" class="form-control" name="Password" maxlength="@AbpUserBase.MaxPlainPasswordLength" data-bind="value: Password">
                    <label class="form-label">@L("Password")</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <a asp-action="Login" class="btn btn-default waves-effect">@L("Back")</a>
                    <button id="RegisterButton" class="btn bg-pink waves-effect" type="submit">@L("Register")</button>
                </div>
            </div>
        </form>
    </div>
</div>
